<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.8/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
		 bootstrap="vendor/autoload.php"
		 backupGlobals="false"
		 colors="true"
>
	<testsuites>
		<testsuite name="unit">
			<!-- todo php: remove phpVersion once we drop support for PHP < 5.3.2 -->
			<directory phpVersion="5.3.2" phpVersionOperator=">=" prefix="test-" suffix=".php">./tests/unit</directory>
		</testsuite>
		<testsuite name="functional">
			<directory prefix="test-" suffix=".php">./tests/functional</directory>
		</testsuite>
	</testsuites>

	<php>
		<!-- <server name="KERNEL_DIR" value="/path/to/your/app/" /> -->
	</php>

	<filter>
		<whitelist>
			<directory>./src</directory>
			<!-- <exclude>
				<directory>/path/to/directory</directory>
			</exclude> -->
		</whitelist>
	</filter>

	<listeners>
		<listener class="\Mockery\Adapter\Phpunit\TestListener"></listener>
		<listener class="\BWP_Framework_PHPUnit_Test_Listener"></listener>
	</listeners>
</phpunit>
